<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasteBin By Ziyang</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        a {
            color: black;
        }

        #card-back {
            padding: 2rem 2rem
        }

    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">PasteBin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3"
                          th:text="${#httpServletRequest.getRequestURL().substring(0, #httpServletRequest.getRequestURL().lastIndexOf(#httpServletRequest.getRequestURI()))}+'/'"></span>
                </div>
                <input type="text" class="form-control" id="basic-url" placeholder="pasteId"
                       aria-describedby="basic-addon3">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-go">前往</button>
                </div>
                <script>
                    $("#button-go").click(function () {
                        let baseUrl = document.getElementById("basic-url").value;
                        window.location.href = document.getElementById("basic-addon3").innerText + baseUrl
                    })
                </script>
            </div>
        </form>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div id="card-back" style="background-color: #e9ecef; border-radius: .3rem;">
                <h2> Ahoy！ </h2>
                <form method="post" th:action="${#httpServletRequest.getRequestURL()}">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="exampleFormControlInput1">这个 Paste 被加密啦，请输入密码：</label>
                            <input type="password" name="password" class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="fixed-bottom" style="background-color: #aaaaaa; height: 8%;">
    <div class="container-fluid" style="text-align: center; color: black;">
        <a href="https://blog.guoziyang.top">Ziyang's Blog</a> | <a href="https://github.com/cn-guoziyang">Github</a> |
        <a href="http://beian.miit.gov.cn/">苏ICP备20004712号</a>
        <br>
        Copyright © 2020 - <span id="year"></span> <a href="mailto:guoziyang0033@gmail.com">Ziyang</a>
        <script>
            var date = new Date()
            var year = date.getFullYear()
            document.getElementById("year").innerText = year
        </script>
    </div>
</div>

</body>

</html>